html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}





#GalleryMain16_1 #GallerySop16 {
	margin:0 2px;
}
#GalleryMain16_1 .GallerySop16class {
	display: inline-block;
	position: relative;
	vertical-align: top;
}
#GalleryMain16_1 .GallerySop16classImage {
	font-size: 0;
	margin: 5px;
	background-repeat: no-repeat;
	width: 100px;
	height: 70px;
	background-position: center center;
	background-color: white;
	border: 4px solid white;
	-moz-box-shadow: 0 0 10px #CCC;
	-webkit-box-shadow: 0 0 10px #CCC;
	box-shadow: 0 0 10px #CCC;
}
#GalleryMain16_1 .ButtonGalleryPager {
	padding: 4px 7px;
	border: 1px solid #CCC;
	text-decoration: none;
	color: #777;
	background-color: #FFF;
}
#GalleryMain16_1 .ButtonGalleryPager:hover {
	background-color: #EEE;
	text-decoration: none;
}

#GallerySop16 {
	width:100%;
	display: inline-block;
	position: relative;
	vertical-align: top;
	float: right;
}
#GalleryMain16_1 .GallerySop16class {
	display: block;
}
.GallerySop16classBigImage {
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	position:absolute;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	vertical-align: top;
	background-color: white;
	border: 4px solid white;
	-moz-box-shadow: 0 0 10px #CCC;
	-webkit-box-shadow: 0 0 10px #CCC;
	box-shadow: 0 0 10px #CCC;
	margin:0 5px;
}
.GallerySop16classBigImageText {
	position: absolute;
	color: white;
	background: rgba(0,0,0, 0.9);
	height: 38px;
	width: 100%;
	bottom:0;
	padding:5px;
	box-sizing: border-box;
}
.bigImageLink{
	text-decoration:none;
}

.MoveNextImage {
	position: absolute;
	top: 50%;
	right: 0;
	background: rgba(0, 0, 0, 0.5) url(../../../../../images/iconClean/24x24/plain/navigate_right.png) no-repeat center center;
	height: 60px;
	width: 40px;
	cursor:pointer;
	display:none;
}
.MovePrevImage {
	position: absolute;
	top: 50%;
	left: 0;
	background: rgba(0, 0, 0, 0.5) url(../../../../../images/iconClean/24x24/plain/navigate_left.png) no-repeat center center;
	height: 60px;
	width: 40px;
	cursor:pointer;
	display:none;
}